@{
    ViewBag.Title = "Server Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-danger">500 - Internal Server Error</h1>
    <p class="lead">Something went wrong. Our team is working on it.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-3">Return to Home</a>
</div>
