@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex align-items-center justify-content-center min-vh-100 text-center">
    <div>
        <h1 class="display-4 text-warning">@ViewData["StatusCode"] - Unexpected Error</h1>
        <p class="lead">We couldn't process your request.</p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-3">Return to Home</a>
    </div>
</div>
