@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-warning">@ViewData["StatusCode"] - Unexpected Error</h1>
    <p class="lead">We couldn't process your request.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-3">Return to Home</a>
</div>
