@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-danger text-center">Oops! Something went wrong.</h1>
<p class="text-center">Please contact support or try again later.</p>
<div class="text-center">
    <a href="/" class="btn btn-primary">Go to Homepage</a>
</div>
